<div id="<%= dom_id group %>">
  <p>
    <strong>Company name:</strong>
    <%= group.company_name %>
  </p>

  <p>
    <strong>Products name:</strong>
    <%= group.products_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= group.quantity %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= group.amount %>
  </p>

</div>
