<nav class="navbar navbar-expand-lg navbar-light primarycolor">
  <div class="container-fluid">
    <a class="nav-link text-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <i class="bi bi-grid-3x3-gap-fill fs-4"></i>
    </a>
    <%= link_to "Account Control", root_path, class:"navbar-brand text-warning text-center mx-md-5" %>
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-light">
      <% if model_signed_in? %>
        <%= link_to "All Transactions", root_path, class:"nav-link active text-light" %>
        <a class="nav-link text-light" href="#"> Group Transactions</a>
        <a class="nav-link text-light" href="#"> Other Transactions</a>
        

      </div>
    </div>
    <a class="nav-link btn-info text-light rounded-3" href="#" >Create Group</a>
          <% else %>
        <%= link_to "Sign In", new_model_session_path, class:"nav-link text-light" %>
        <%= link_to "Sign Up", new_model_registration_path, class:"nav-link text-light" %> 
      <% end %>
  </div>
</nav>


<div class="offcanvas offcanvas-start primarycolor" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Account Control </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-center text-light">
    <div>


    <% if model_signed_in? %>
    <%= link_to "Edit Profile", edit_model_registration_path, class:"nav-link text-light fs-2" %>
    <hr >
    <%= button_to "Sign Out", destroy_model_session_path, method: :delete, class:"nav-link text-light btn fs-2 mx-auto" %>   

    <% else %>
        <%= link_to "Sign In", new_model_session_path, class:"nav-link text-light fs-2" %>
        <hr >
        <%= link_to "Sign Up", new_model_registration_path, class:"nav-link text-light box-arrow-in-right fs-2" %>   
    <% end %>

    </div>
  </div>
</div>